.intro{
  min-height: 370px;
  padding: 0;
  padding-top: 250px;
  text-align: center;
  color: @white;
  background: black url("../image/intro-bg.jpg") no-repeat 50% 50%;
  background-size: cover;

  @media (max-width: 480px){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0;
  }



  .container{
    display: none;
    position: relative;
    -webkit-transition: 0.4s;
       -moz-transition: 0.4s;
        -ms-transition: 0.4s;
         -o-transition: 0.4s;
            transition: 0.4s;



    &:hover{
      &::before{
        border-color: @red;
      }

      &::after{
        color: @red;
        border: none;
      }
    }

    &::before{
      content: "";
      display: none;
      position: absolute;
      width: 60px;
      height: 60px;
      border: 2px solid @white;
      border-radius: 50%;
      bottom: -200px;
      left: 50%;
      margin-left: -30px;
      cursor: pointer;
    }

    &::after{
      content: "▼";
      display: block;
      position: absolute;
      width: 34px;
      height: 34px;
      left: 50%;
      bottom: -186px;
      margin-left: -16px;
      font-size: 40px;
      font-weight: bold;
      color: @white;
      /*background: linear-gradient(to right bottom, transparent 50%, @white 51%);*/
      cursor: pointer;
      -webkit-transition: 0.2s;
         -moz-transition: 0.2s;
          -ms-transition: 0.2s;
           -o-transition: 0.2s;
              transition: 0.2s;
      animation: shaking-down 0.6s infinite alternate  1s;
    }
  }

  &__title{
    margin: 5px 0;
    font-family: @font;
    font-weight: normal;
    font-size: 60px;
    color: @white;
    cursor: pointer;

    @media (max-width: 560px){
      font-size: 48px;
    }

    @media (max-width: 400px){
      font-size: 36px;
    }
  }

  &__sub-title{
    margin: 0;
    font-family: @font;
    font-weight: normal;
    font-size: 24px;
    color: @white;
    cursor: pointer;

    @media (max-width: 560px){
      font-size: 22px;
    }

    @media (max-width: 400px){
      font-size: 18px;
    }
  }
}


.container-move{
  transform: translateY(100px);

  @media (min-width: 981px){
    transform: translateY(0);
  }

  &::after{
    display: none !important;
  }

  &::before{
    display: none  !important;
  }
}


@keyframes shaking-down{
  0%{
    transform: translateY(-5px);
  }

  25%{
    transform: translateY(-2.5px);
  }

  50%{
    transform: translateY(0px);
  }

  75%{
    transform: translateY(2.5px);
  }

  100%{
    transform: translateY(5px);
  }
}